{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div id="wrapper">
    {% include "partials/_sidebar.html" %}

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <h4 class="m-0 text-gray-800">{{ title }}</h4>
            </nav>

            <div class="container-fluid">
                {% include "partials/_page_navigation.html" %}
                <div class="row">
                    <div class="col-xl-4 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-2">Totale ore lavorate</div>
                                <div class="h3 mb-0 font-weight-bold text-gray-800">{{ total_hours }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-12 mb-4">
                        <div class="card shadow h-100 border-0">
                            <div class="card-body">
                                <h5 class="text-gray-800">Dettaglio dipendente {{ employee_id }}</h5>
                                <p class="text-muted mb-0">
                                    Pagina pronta per mostrare riepilogo ore, presenze e registrazioni del singolo dipendente.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card shadow mb-4 farmio-card">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-success">Registrazione ore</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover farmio-data-table">
                                <thead>
                                    <tr>
                                        {% for column in columns %}
                                        <th>{{ column }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in rows %}
                                    <tr>
                                        {% for value in row %}
                                        <td>{{ value }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>FarmIO © 2026 by Compagnia del Grifone SRL</span>
                </div>
            </div>
        </footer>
    </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
{% endblock %}
